@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
	src: url('/wp-content/themes/acerbostrap/build/fonts/fontawesome-webfont.eot');
    src: url('/wp-content/themes/acerbostrap/build/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/wp-content/themes/acerbostrap/build/fonts/fontawesome-webfont.woff2') format('woff2'), 
		 url('/wp-content/themes/acerbostrap/build/fonts/fontawesome-webfont.woff') format('woff'), 
		 url('/wp-content/themes/acerbostrap/build/fonts/fontawesome-webfont.ttf') format('truetype');
}


@font-face {
    font-family: 'Open Sans';
	font-style: normal;
    font-weight: 400;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_normal_400.eot');
    src: url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_normal_400.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_normal_400.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_normal_400.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_italic_400.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Open Sans_italic_400.ttf') format('truetype')
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Oswald_normal_700.eot');
    src: url('/wp-content/themes/acerbostrap/build/fonts/Oswald_normal_700.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/acerbostrap/build/fonts/Oswald_normal_700.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Oswald_normal_700.ttf') format('truetype')
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_300.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_300.ttf') format('truetype')
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_400.eot');
    src: url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_400.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_400.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_400.ttf') format('truetype')
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_700.woff') format('woff'),
         url('/wp-content/themes/acerbostrap/build/fonts/Yanone Kaffeesatz_normal_700.ttf') format('truetype')
}